* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #17181a;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  position: relative;
}
main {
  position: absolute;
}
#logo {
  color: white;
  font-family: 'Abril Fatface';
}
.nav-header {
  position: relative;
  min-height: 10vh;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  width: 80%;
  margin: auto;
  padding: 2rem 0;
  z-index: 2;
}
.line1, .line2 {
  width: 3rem;
  height: 0.2rem;
  margin: 0.4rem;
  background-color: white;
  pointer-events: none;
}
/* Slides */

.slide {
  min-height: 100vh;
  margin: 0 auto 0 auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background: #17181a;
}
.hero-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  flex-basis: 25rem;
  padding-left: 5rem;
  position: relative;
}
.hero-img {
  position: relative;
  flex: 1;
  flex-basis: 25rem;
  overflow: hidden;
}
.hero-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.fashion-span {
  color: rgb(255, 139, 93);
}
.mountain-span {
  color: rgb(86,124,228);
}
.hike-span {
  color: rgb(167, 110, 231);
}
.hero-desc h2 {
  font-family: 'Abril fatface';
  font-size: 4rem;
}
.hero-desc p {
  padding: 3rem 0rem;
  font-size: 1.2rem;
  color: rgb(223, 223, 223);
}
.explore {
  padding: 1rem 2rem;
  border: none;
  color: white;
  border: 1px solid white;
  font-size: 1rem;
  text-decoration: none;
  align-self: flex-start;
  cursor: pointer;
}
.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
  opacity: 1;
  clip-path: circle(50px at 100% -10%);
  -webkit-clip-path: circle(50px at 100% -10%);
}
.burguer {
  cursor: pointer;
}
.nav-links {
  font-size: 3rem;
  flex-basis: 30rem ;
}
.nav-links h3 {
  padding: 3rem 0rem;
  font-weight: 300;
}
.contact {
  flex-basis: 30rem;
}
.contact h2 {
  font-size: 3rem;
  font-weight: 500;
  padding: 2rem 0rem;
}
.contact p {
  font-size: 1.2rem;
  line-height: 2rem;
}

.reveal-img, .reveal-text {
  position: absolute;
  width: 100% ;
  height: 150%;
  background: #17181a;
  left: 0;
  top: -15%;
}
.cursor {
  width: 3rem;
  height: 3rem;
  border: solid white;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 0.5s ease-in-out;
  transition-property: background, transform;
  transform-origin: 75% 75%;
}

.cursor.nav-active {
  background: rgb(86, 124, 228);
  transform: scale(3);
}
.cursor.explore-active {
  background: white;
  transform: scale(3);
}
.cursor-text {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 0.5rem;
  transform: translate(-50%, -50%);
}
.title {
  position: relative;
  overflow: hidden;
}
.title-swipe {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  mix-blend-mode: darken;
  transform: translateY(100%);
}
.t-swipe1 {
  background: rgb(86, 124, 228);
}
.t-swipe2 {
  background: rgb(167, 110, 231);
}
.t-swipe3 {
  background: rgb(255, 139, 93);
}

.scrollmagic-pin-spacer {
  position: static !important;
}
body.hide {
  overflow: hidden;
}

/* Other pages */
.fashion1, .fashion2, .fashion3 {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: auto;
  color: white;
  margin-top: 5rem;
  flex-wrap: wrap;
  position: relative;
}

.fashion-img {
  height: 70vh;
  flex-basis: 30rem;
}
.fashion-text {
  flex: 1;
  position: relative;
  flex-basis: 25rem;
}

.fashion-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.fashion-text h1 {
  font-size: 5rem;
  padding: 5rem 0rem;
  font-weight: 400;
}
.fashion1 h1 {
  color: rgb(255, 139, 93);
}
.fashion2 h1 {
  color: rgb(167, 110, 231);
}
.fashion3 h1 {
  color: rgb(86, 124, 228);
}
.fashion-text p {
  font-size: 1.7rem;
  padding: 2rem 2rem 0rem 0rem;
  margin-bottom: 10rem;
}
.fashion-nr {
  font-size: 15rem;
  position: absolute;
  left: 50%;
  bottom: 10%;
  color: white;
  opacity: 0.2;
}
.swipe {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateX(-100%);
}
.swipe1 {
  background: rgb(167, 110, 231);
  z-index: 5;
}
.swipe2 {
  background: rgb(86, 124, 228);
  z-index: 4;
}
.swipe3 {
  background: rgb(255, 139, 93);
  z-index: 3;
}

@media screen and (max-width: 1500px) {
  .hero-img {
    height: 50vh;
  }
  .fashion-text h1 {
    font-size: 2rem;
    padding:  1rem 0rem;
  }
  .fashion-text p {
    font-size: 1.2rem;
  }
  .fashion-img img {
    height: 50vh;
    object-position: top;
  }
  .hero-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 0rem 1rem;
  }
}

/* mobile */

@media screen and (max-width: 1024px) {
  main {
    width: 100%;
    margin: 0;
  }
  .slide {
    display: block;
    width: 100%;
    text-align: center;
  }
  .hero-img {
    padding-top: 4rem;
  }
  .hero-desc {
    padding: 0;
  }
  .hero-desc h2 {
    font-size: 1.6rem;
    padding: 1rem 0rem;
  }
  .hero-desc p {
    padding: 2rem 1rem;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: center;
  }
  .explore {
    width: 60%;
    margin: auto;
  }
  .detail-slide {
    width: 100%;
    text-align: center;
  }
  .fashion-text p {
    margin-bottom: 5rem;
    padding: 0;
  }
  .fashion-text h1 {
    margin: 2rem 0rem;
  }
  .fashion-nr {
    font-size: 8rem;
  }
  .nav-bar {
    display: block;
  }
  .nav-links {
    font-size: 2rem;
    text-align: center;
  }
  .contact h2 {
    font-size: 3rem;
    text-align: center;
  }
  .contact p {
    font-size: 1.2rem;
    padding: 2rem;
    text-align: center;
  }
}